body{
    font-family: 'Special Elite', cursive;
    background-color: orange;
}

.header_div{
color: red;
background-color:gray;
}

.header_div p{
 color: gray;
 font-family: 'Roboto', sans-serif;
 letter-spacing: 2px;
 font-size: 12px;
 font-weight: bold;   
}

.main_div button{
    font-family: 'Roboto', sans-serif;
    margin-top: 30px;
    width: 130px;
    font-weight: bolder;
    letter-spacing: 3px;    
}

.footer{
 position: fixed;
 line-height: 3px;
 color: gray;
 bottom: 0;
 width: 100%;
 font-size: 18px;
 background-color: white;
 text-align: center;
 text-shadow: 5px 5px 5px gray;

}

